<div class="container mt-5">
    <div class="row">
      <div class="col-md-4">
        <img src="img/Screenshot 2025-06-15 053029.png" class="img-fluid rounded" alt="About Us">
      </div>
      <div class="col-md-8">
        <h2>Sobre Nosotros</h2>
        <p>
          Somos una empresa dedicada al desarrollo de software con un enfoque en la innovación, la eficiencia y la creación de soluciones que realmente marcan la diferencia. A lo largo de los años, hemos trabajado en proyectos que abarcan múltiples industrias, siempre con un compromiso profundo hacia la excelencia.
        </p>
        <p>
          Con el paso del tiempo, he perfeccionado mi experiencia en diversas áreas, especialmente en informática y desarrollo tecnológico. Mi dedicación al aprendizaje continuo y a estar al tanto de las últimas tendencias me permite ofrecer soluciones innovadoras y efectivas, adaptadas a las necesidades de cada cliente.
        </p>
        <p>
          Cuando no estoy trabajando en proyectos, disfruto ir al gimnasio. Creo firmemente en mantener un equilibrio saludable entre el trabajo y la vida personal, y siempre busco aportar creatividad y entusiasmo a todo lo que hago.
        </p>
        <p>
          Además, me encantan los juegos, el triatlon y la comida.
        </p>
      </div>
    </div>
  </div>
